@page "/"

<PageTitle>My images</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="col-6">
            <div class="form-group">
                <div class="card" style="width: 300px;">

                    <InputFile OnChange="OnInputFileChange" hidden accept="image/png, image/jpeg" id="fileInput"/>
                    <label for="fileInput" style="cursor: pointer">
                        <img class="card-img-top" height="300" src="@previewImage" alt="New photo preview">
                        </label>


                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" type="button" @onclick="UploadFile">
                            Upload
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <label>@labelText</label>
        </div>

    </Authorized>
    <NotAuthorized>
        <h2>You must be authorized</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string previewImage = "images/static/upload.png";

    private IBrowserFile selectedFile;

    private string labelText = "";

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var file = e.GetMultipleFiles()[0];
        var resizedImage = await file.RequestImageFileAsync(file.ContentType, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);

        var imageUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";
        previewImage = imageUrl;
    }

    private async Task UploadFile()
    {
        try
        {
            if (selectedFile is not null)
            {
                //await fileUpload.UpLoadFile(selectedFile);
            }
        }
        catch (Exception ex)
        {
            labelText = ex.Message;
        }
    }
}
